<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <ul>
            <!-- <li v-for="items in names">{{items}}</li> -->
            <li v-for="(items,index) in names">{{index+1}}.{{items}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const vue = new Vue({
            el: '#app',
            data: {
                message: '你好啊',
                names: ['why', 'tom', 'peter']
            }
        })
    </script>
</body>

</html>